In [1]:
import pandas as pd
import numpy as np

In [2]:
path = r"C:\Users\tosim\Dropbox\Progetto_PhD_IIT\Analysis_new\Data_analysis_2\long_format_single_trial_2.xlsx"

In [3]:
df = pd.read_excel(path)

In [4]:
df

,Unnamed: 0,Subject,manipulation,Manipulation,Stimulation,Session,VisualF,Response,Collection
0,0,S1,Bi,Control,Sham,Pre,Left,1,1
1,1,S1,Bi,Control,Sham,Pre,Left,1,1
2,2,S1,Bi,Control,Sham,Pre,Left,1,1
3,3,S1,Bi,Control,Sham,Pre,Left,1,1
4,4,S1,Bi,Control,Sham,Pre,Left,0,1
...,...,...,...,...,...,...,...,...,...
41811,106,S65,UL,Attended Visual Field,Active,Post_2,Left,1,2
41812,107,S65,UL,Attended Visual Field,Active,Post_2,Left,1,2
41813,108,S65,UL,Attended Visual Field,Active,Post_2,Left,1,2
41814,109,S65,UL,Ignored Visual Field,Active,Post_2,Right,1,2
41815,110,S65,UL,Ignored Visual Field,Active,Post_2,Right,0,2

In [47]:
len(df[(df["Session"] == "Pre") & (df["Subject"] == "S6") & (df["Stimulation"] == "Sham")])

109

In [51]:
n_trial = []
n_subj = []
n_session = []
n_stimulation = []
for session in np.unique(df['Session']):
    for subj in np.unique(df['Subject']):
        for stim in np.unique(df['Stimulation']):
            n_trial.append(len(df[(df['Session'] == session) & (df['Subject'] == subj) & (df["Stimulation"] == stim)]))
            n_subj.append(subj)
            n_session.append(session)
            n_stimulation.append(stim)

390

In [55]:
trials = pd.DataFrame(list(zip(n_subj, n_session, n_stimulation, n_trial)),
              columns=['Subject','Session', "Stimulation",'Trial'])

In [56]:
trials[trials["Subject"] == "S16"]

    Subject Session Stimulation  Trial
14      S16  Post_1      Active    110
15      S16  Post_1        Sham    111
144     S16  Post_2      Active    112
145     S16  Post_2        Sham    112
274     S16     Pre      Active    106
275     S16     Pre        Sham    103

In [57]:
np.mean(trials[trials["Session"] == "Pre"].Trial)

106.06153846153846

In [58]:
np.std(trials[trials["Session"] == "Pre"].Trial)

6.610892929509882

In [59]:
np.mean(trials[trials["Session"] == "Post_1"].Trial)

107.5

In [60]:
np.std(trials[trials["Session"] == "Post_1"].Trial)

6.2366781098717805

In [63]:
path = r"C:\Users\tosim\Dropbox\Progetto_PhD_IIT\Analysis_new\Data_analysis_2\isolation_trials.xlsx"

In [64]:
df_trials = pd.read_excel(path)

In [66]:
np.mean(df_trials.Trials)

309.9076923076923

In [67]:
np.std(df_trials.Trials)

25.45930271383245